    {% for movie in movie_info_list %}
<div class = "movieInfo" id = {{ movie.movie_id }}>

    <img src="{{ movie.poster }}"/>
    <p>
        Title: {{ movie.title }}
    </p>
    <p>
        Released In: {{ movie.year }}
    </p>
    <p>
        Critic Rating: {{ movie.critic_rating }}
    </p>
    <button class="moreInfo" >More Info</button>
    <div class="showHide inactive">
        mpaa: {{ movie.mpaa_rating }}
        runtime: {{ movie.runtime }}
        movie id: {{ movie.movie_id }}
    </div>
    <button class="favorite">favorite</button>

</div>
    {% endfor %}